.sidebar4821 {
  width: 260px;
  height: 100vh;
  background: #f5f7fb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: fixed;
}

.logoSection4821 h2 {
  font-size: 20px;
  font-weight: bold;
}
*{
  box-sizing: border-box;
  margin: 0;
}
.logoSection4821 span {
  color: #2c2c2c;
}

.logoSection4821 p {
  font-size: 12px;
  color: #8b95a7;
  margin-top: 4px;
}

.menu4821 {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  height: 40%;
  gap: 10px;
}

.menuItem4821 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 10px;
  border-radius: 999px;
  cursor: pointer;
  color: #5c6b7a;
  position: relative;
}

.menuItem4821:hover {
  background: #e9edf5;
}

.menuItem4821 span {
  font-size: 18px;
}

.menuItem4821 p {
  margin: 0;
}

.active4821 {
  background: #e9edf5;
  font-weight: 600;
  color: #1a1a1a;
  padding: 10px 18px;
  border-right: 3px solid orange;
}

.activeBar4821 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: orange;
  border-radius: 2px;
}

.aiButtonWrapper4821 {
  margin: 20px 0;
}

.aiButton4821 {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #0b1b34;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.aiButton4821:hover {
  background: #142a50;
}
.bottom4821 {
  border-top: 1px solid #dcdfe6;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}